<%- include('header'); -%>

<h1>Ajouter Une citation</h1>

<form action="/citation" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Auteur</label>
        <input type="text" class="form-control" id="input" name="Auteur">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Citation</label>
        <input type="text" class="form-control" id="input"  name="Citation">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Source</label>
        <input type="text" class="form-control" id="input" name="Source">
    </div>

    
    <button type="submit" class="btn btn-dark">Add</button>

</form>

    
</body>
</html>

